name: Deploy to VPS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Deploy to VPS
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_SSH_KEY }}
        script: |
          # 1. Navegar para a pasta do projeto
          cd /var/www/futgol

          # 2. Puxar as últimas alterações
          git pull origin main

          # 3. Recriar os containers com as novas mudanças
          docker compose down
          docker compose up -d --build
